*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #d3d3d3;
}
h1{
    display: flex;
    justify-content: center;
    color: blueviolet;
    text-decoration: underline;
}
table, th, td {
    border: 1px solid red;
    
}
table{
    border-collapse: collapse;
    
}
.button-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.main-tab{
    margin:auto;
    margin-top: 60px;
}
.small-tab{
    width: 100%;
    height: 100%;
}
.small-tab td{
    text-align:center;
}
.relsmall-tab{
    height: 100%;
    width: 100%;
}

#submit{
    background-color: transparent;
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    margin: auto;
}
#submit:hover{
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
}